<ion-view view-title="Login">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model='data.email'>
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model='data.password'>
    </label>
    <label class="item">
      <input type="submit" value="SIGN IN" ng-click="login()">
    </label>
  </ion-content>
</ion-view>
