<ion-view view-title="Publish">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model='data.date' name='date'>
    </label>
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model='data.titl' name='titl'>
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" ng-model='data.desc' name='desc'>
    </label>
    <label class="item item-input">
      <span class="input-label">Source</span>
      <input type="text" ng-model='data.src' name='src'>
    </label>
    <label class="item item-input">
      <span class="input-label">Link</span>
      <input type="text" ng-model='data.lin' name='lin'>
    </label>
    <div class="item item-input">
      <ion-radio ng-model="data.choice" ng-value="'General'">General</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Hardware'">Hardware</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Software'">Software</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Objet connecté'">Objet connecté</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Juridique'">Juridique</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Sécurité'">Sécurité</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Hacking'">Hacking</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Dev'">Dev</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Vie privée'">Vie privée</ion-radio>
      <ion-radio ng-model="data.choice" ng-value="'Kickstarter'">Kickstarter</ion-radio>
    </div>



    <!-- <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password">
    </label> -->
    <label class="item">
      <input type="submit" value="SEND" ng-click="pub()">
    </label>
  </ion-content>
</ion-view>
