<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="Sign in" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/log">
    <ion-nav-view name="tab-log"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!-- <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- Account Tab -->
  <!-- <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->

  <!-- veille Add -->
  <ion-tab title="Publish" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/publish">
    <ion-nav-view name="tab-publish"></ion-nav-view>
  </ion-tab>

  <!-- veilles Tab -->
  <ion-tab title="Veilles" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/veilles">
    <ion-nav-view name="tab-veilles"></ion-nav-view>
  </ion-tab>

  <!-- users Tab -->
  <ion-tab title="Users" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

</ion-tabs>
