<ion-view view-title="User">
  <ion-content class="padding">
    <p>
      {{user[0].firstname}}
    </p>
    <p>
      {{user[0].name}}
    </p>
    <p>
      {{user[0].email}}
    </p>
    <p>Promo :
      {{user[0].promo}}
    </p>
    <h3>Veilles :</h3>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="veille in veilles" type="item-text-wrap" href="">
        <h2>{{veille.title}}</h2>
        <p>{{veille.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
