
<ion-view view-title="{{veille.title}}">
  <ion-content class="padding">
    <p>
      {{veille.date}}
    </p>
    <p>
      {{veille.description}}
    </p>
    <p>Type:
      {{veille.type}}
    </p>
    <p>
      {{veille.source}}
    </p>
    <a href="#/tab/users/{{veille.id_user}}">
      Author
    </p>
  </ion-content>
</ion-view>
